TEMPLATE = app
CONFIG += console c++11
CONFIG -= app_bundle
CONFIG -= qt

SOURCES += main.cpp
LIBS += -L"PATH/TO/SFML-2.4.2/lib"

CONFIG(release, debug|release): LIBS += -lsfml-audio -lsfml-graphics -lsfml-network -lsfml-window -lsfml-system
CONFIG(debug, debug|release): LIBS += -lsfml-audio-d -lsfml-graphics-d -lsfml-network-d -lsfml-window-d -lsfml-system-d

INCLUDEPATH += "PATH/TO/SFML-2.4.2/include"
DEPENDPATH += "PATH/TO/SFML-2.4.2/include"

QMAKE_POST_LINK += $$quote(cp -rf $${PWD}/assets $${OUT_PWD})
QMAKE_CLEAN += -r TestData
